body{
background:linear-gradient(135deg,#667eea,#764ba2);
font-family:Segoe UI;
}
.card{
background:white;
padding:25px;
margin:80px auto;
width:350px;
border-radius:15px;
box-shadow:0 15px 40px rgba(0,0,0,.3);
}
.wide{width:90%;}
input,textarea,select,button{
width:100%;padding:10px;margin-top:10px;border-radius:8px;
}
button{background:#667eea;color:white;border:none;}